[submodule "main/openvpn"]
	path = main/openvpn
	url = git@github.com:Tai7sy/openvpn.git
[submodule "main/openssl"]
	path = main/openssl
	url = git@github.com:Tai7sy/platform_external_openssl.git
[submodule "main/breakpad"]
	path = main/breakpad
	url = git@github.com:Tai7sy/breakpad.git
